* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}
:root {
  --textColor: orange;
  --bgColorSections: rgba(0, 0, 0, 0.4);
  --backgroundOpacity: 0.4;
  --headingSize: 23px;
  --gridSpace: 10px;
  --borderRadiusSection: 50px;
}

.Dashboard {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/milky-way.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HEADER------------------------------- */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.foobar {
  color: white;
  width: 30px;
  height: auto;
}
img {
  display: block;
  width: 50%;
  height: 200px;
}

header h2 {
  color: var(--textColor);
  margin-left: auto;
  margin-right: 0px;
}
/* --------------------------------------- */

.container-infoSections {
  height: 90%;
  width: 90%;
  display: grid;
  padding: calc(var(--gridSpace));
  margin: auto;
  grid-row-gap: 10px;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "beer beer beer"
    "bartenders serving queue";
}

.dashboard-section {
  /* margin: var(--gridSpace); */
  background-color: var(--bgColorSections);
  border-radius: var(--borderRadiusSection);
  height: 100%;
  /* overflow: hidden; */
  /*
  display: flex;
  flex-direction: column; 
  height: 100%; */
}

/* BEER------------------------------- */
.beerKegs {
  grid-area: beer;
}

.keg-container {
  width: 100%;
  position: relative;
}
.keg-container svg {
}

.keg-container img {
  position: absolute;
  width: 30%;
  height: auto;
  left: 35%;
  top: 15%;
}

.beers-container {
  display: flex;
  flex-direction: row;
}

.beers-container {
  display: flex;
  width: 100%;
  font-size: 15px;
}

.beer {
  color: white;
  margin: 10px;
  width: 100%;
  position: relative;
}

.beerName {
  margin-top: 20px;
  text-align: center;
  display: block;
  height: 42px;
}

.beerStorage {
  display: flex;
  align-items: center;
  /* background-color: rgb(156, 156, 156); */

  width: 30%;
  height: 20%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: -20px;
}

.beerStorage h3 {
  color: white;
  width: 100%;
  text-align: center;
}

/* ----------------------------------- */
/* BARTENDERS------------------------------- */
.Bartenders {
  grid-area: bartenders;
}

.bartenders-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  margin: 20px auto;
}

.bartenders-container div {
  width: 100%;
}

.bartenders-container .astronaut-container {
  width: 35%;
  margin: auto;
  position: relative;
}

.bartenders-container .astronaut-container > img {
  position: absolute;
  width: 23%;
  left: 25%;
  bottom: 70%;
  height: auto;
  z-index: 5;
}

.bartenders-container svg {
  width: 100%;
  z-index: 11;
}
/* ----------------------------------- */
/* SERVING------------------------------- */
.Serving {
  grid-area: serving;
  /* position: relative; */
}

.serving-container {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.alien-head {
  width: 100%;
  display: block;
  margin: 0px auto;
  height: 50%;
}

#alien-head {
  overflow: visible;
  width: 40%;
}

.servingOrders-container {
  display: flex;
  /* position: absolute; */
  bottom: 25px;
  color: white;
  width: 100%;
  height: 30%;
  margin-bottom: 5%;
  margin-top: auto;
  /* height: 20%; */
  align-items: center;
  justify-content: center;
}

.serving-order {
  display: flex;
  position: relative;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;

  /* background-image: url("./images/svgs/planet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.serving-order .serving-text {
  display: block;
  text-align: center;
  margin: auto;
  z-index: 10;
}

.planet {
  position: absolute;
  z-index: 5;
}

/* ----------------------------------- */

/* EACH SECTION------------------------------- */

.section-header {
  font-size: var(--headingSize);
  color: var(--textColor);
  margin-top: 20px;
  margin-left: 10px;
}

/* ORDERS */
#alien {
  width: 50%;
  height: 90%;
  display: block;
  margin: 0 auto;
}

#alien-sign {
  /* position: relative; */
}

/* QUEUE------------------------------- */
.Queue {
  grid-area: queue;
}

.queue-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 70%;
}

/* ----------------------------------- */

/* ------------- */

svg {
  display: block;
  position: relative;
}
svg#astronaut {
  overflow: visible;
}

svg#astronaut g#astronaut-right-palm,
svg#astronaut g#astronaut-left-palm,
svg#astronaut g#astronaut-left-palm #money,
svg#astronaut g#astronaut-left-palm #sign,
svg#astronaut g#astronaut-right-palm #payment,
svg#astronaut g#astronaut-right-palm #beer {
  transition: all 1s;
}

/* RIGHT PALM -------------------*/
svg#astronaut g#astronaut-right-palm {
  transform-origin: 18% 53%;
}

svg#astronaut g#astronaut-left-palm {
  transform-origin: 55% 55%;
}

#Dannie svg#astronaut g#astronaut-left-palm,
#Dannie svg#astronaut g#astronaut-right-palm {
  animation-delay: 0.2s;
}
#Jonas svg#astronaut g#astronaut-left-palm,
#Jonas svg#astronaut g#astronaut-right-palm {
  animation-delay: 1s;
}
#Peter svg#astronaut g#astronaut-left-palm,
#Peter svg#astronaut g#astronaut-right-palm {
  animation-delay: 0.6s;
}

/* waiting */
svg#astronaut.waiting g#astronaut-right-palm,
svg#astronaut.waiting g#astronaut-left-palm {
  /* transform: rotate(0deg) 2s; */
  animation: restArm 1s forwards;
}

/* Beer Serving*/
/* rotate palm of rightarm */
svg#astronaut.startServing g#astronaut-right-palm,
svg#astronaut.reserveTap g#astronaut-right-palm,
svg#astronaut.pourBeer g#astronaut-right-palm,
svg#astronaut.replaceKeg g#astronaut-right-palm,
svg#astronaut.releaseTap g#astronaut-right-palm {
  transform: rotate(140deg);
  animation: drinkBeer 1s infinite alternate;
}
svg#astronaut.startServing g#astronaut-left-palm,
svg#astronaut.reserveTap g#astronaut-left-palm,
svg#astronaut.pourBeer g#astronaut-left-palm,
svg#astronaut.replaceKeg g#astronaut-left-palm,
svg#astronaut.releaseTap g#astronaut-left-palm {
  transform: rotate(-90deg);
  animation: showHelping 1s infinite alternate;
}

/* Payment Serving*/

/* Waiting Serving*/
/* svg#astronaut.waiting g#astronaut-left-palm {
  transform: rotate(-180deg);
  animation: showWaiting 0.5s infinite alternate;
} */

/* Receive Money Serving*/
svg#astronaut.receivePayment g#astronaut-left-palm,
svg#astronaut.startPayment g#astronaut-left-palm {
  transform: rotate(-150deg);
  animation: paymentLeft 1s infinite alternate;
}
svg#astronaut.receivePayment g#astronaut-right-palm,
svg#astronaut.startPayment g#astronaut-right-palm {
  transform: rotate(100deg);
  animation: paymentRight 0.5s infinite alternate;
}

svg#astronaut.startServing g#astronaut-left-palm #money,
svg#astronaut.startServing g#astronaut-right-palm #payment,
svg#astronaut.reserveTap g#astronaut-left-palm #money,
svg#astronaut.reserveTap g#astronaut-right-palm #payment,
svg#astronaut.pourBeer g#astronaut-left-palm #money,
svg#astronaut.pourBeer g#astronaut-right-palm #payment,
svg#astronaut.replaceKeg g#astronaut-left-palm #money,
svg#astronaut.replaceKeg g#astronaut-right-palm #payment,
svg#astronaut.releaseTap g#astronaut-left-palm #money,
svg#astronaut.releaseTap g#astronaut-right-palm #payment,
svg#astronaut.waiting g#astronaut-left-palm #money,
svg#astronaut.waiting g#astronaut-right-palm #payment,
svg#astronaut.waiting g#astronaut-right-palm #beer,
svg#astronaut.waiting g#astronaut-left-palm #sign,
svg#astronaut.receivePayment g#astronaut-right-palm #beer,
svg#astronaut.receivePayment g#astronaut-left-palm #sign,
svg#astronaut.startPayment g#astronaut-right-palm #beer,
svg#astronaut.startPayment g#astronaut-left-palm #sign {
  /* transform-origin: 90% 55%; */
  opacity: 0;
  /* display: none; */
  /* transform: rotate(20deg); */
}
/* svg#astronaut.releaseTap g#astronaut-left-palm */

/* ANIMATION */

@keyframes drinkBeer {
  to {
    transform: rotate(170deg);
  }
}
@keyframes showHelping {
  to {
    transform: rotate(-100deg);
  }
}
@keyframes paymentLeft {
  to {
    transform: rotate(-100deg);
  }
}
@keyframes paymentRight {
  to {
    transform: rotate(110deg);
  }
}
@keyframes showReceivePayment {
  to {
    transform: rotate(-100deg);
  }
}

@keyframes startPayment {
  to {
    transform: rotate(90deg);
  }
}
@keyframes restArm {
  to {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 880px) {
  :root {
    /* --textColor: orange;
    --bgColorSections: rgba(0, 0, 0, 0.4);
    --backgroundOpacity: 0.4; */
    --headingSize: 15px;
    /* --gridSpace: 10px;*/
    --borderRadiusSection: 20px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  header > img,
  header > h2.waitingTime {
    margin: 10px;
  }

  .waitingTime {
    font-size: 20px;
  }

  .Dashboard {
    height: auto;
    width: 100vw;
    background-image: url("./images/milky-way.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .beers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;

    /* margin-bottom: 0.5%; */
  }
  .beer {
    width: 80px;
  }
  .beerName {
    font-size: 13px;
    height: 30px;
  }

  /* Bartenders */
  .bartenders-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  /* Queue */
  svg#alien {
    width: 30%;
  }

  /* Serving */
  .serving-container {
    height: 90%;
    margin-top: auto;
  }
  .servingOrders-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: auto;
  }
  .serving-order {
    display: flex;
    position: relative;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 10px;
  }

  .container-infoSections {
    height: 90%;
    width: 100%;
    display: grid;
    padding: var(--gridSpace);
    margin: auto;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "beer beer beer"
      "bartenders bartenders bartenders"
      "serving serving serving"
      "queue queue queue";
  }
}
