* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --textColor: orange;
  --bgColorSections: rgba(0, 0, 0, 0.4);
  --backgroundOpacity: 0.4;
  --headingSize: 25px;
  --gridSpace: 10px;
  --borderRadiusSection: 50px;
}

.Dashboard {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/milky-way.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HEADER------------------------------- */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.foobar {
  color: white;
}
img {
  display: block;
  width: 50%;
  height: 200px;
}

header h2 {
  color: var(--textColor);
  margin-left: auto;
  margin-right: 0px;
}
/* --------------------------------------- */

.container-infoSections {
  height: 90%;
  width: 100%;
  display: grid;
  padding: var(--gridSpace);
  margin: auto;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "beer beer beer"
    "bartenders serving queue";
}

.dashboard-section {
  margin: var(--gridSpace);
  background-color: var(--bgColorSections);
  border-radius: var(--borderRadiusSection);
  height: 100%;
  /* overflow: hidden; */
  /*
  display: flex;
  flex-direction: column; 
  height: 100%; */
}

/* BEER------------------------------- */
.beerKegs {
  grid-area: beer;
}

.keg-container {
  width: 100%;
  position: relative;
}
.keg-container svg {
}

.keg-container img {
  position: absolute;
  width: 30%;
  height: auto;
  left: 35%;
  top: 15%;
}

.beers-container {
  display: flex;
  flex-direction: row;
}

.beers-container {
  display: flex;
  width: 100%;
  font-size: 15px;
}

.beer {
  color: white;
  margin: 10px;
  width: 100%;
  position: relative;
}

.beerName {
  margin-top: 20px;
  text-align: center;
}

.beerStorage {
  display: flex;
  align-items: center;
  /* background-color: rgb(156, 156, 156); */

  width: 30%;
  height: 20%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: -20px;
}

.beerStorage h3 {
  color: white;
  width: 100%;
  text-align: center;
}

/* ----------------------------------- */
/* BARTENDERS------------------------------- */
.Bartenders {
  grid-area: bartenders;
}

.bartenders-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  margin: 20px auto;
}

.bartenders-container div {
  width: 100%;
}

.bartenders-container svg {
  height: 100%;
}
/* ----------------------------------- */
/* SERVING------------------------------- */
.Serving {
  grid-area: serving;
  /* position: relative; */
}

.serving-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.alien-head {
  width: 80%;
  display: block;
  margin: 20px auto;
}

.servingOrders-container {
  display: flex;
  /* position: absolute; */
  bottom: 25px;
  color: white;
  width: 100%;
  height: 40px;
  /* height: 20%; */
  align-items: center;
}

.serving-order {
  display: flex;
  position: relative;
  align-items: center;
  width: 33%;
  height: 100%;
  margin: 10px;

  /* background-image: url("./images/svgs/planet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.serving-order .serving-text {
  display: block;
  text-align: center;
  margin: auto;
  z-index: 10;
}

.planet {
  position: absolute;
  z-index: 5;
}

/* ----------------------------------- */
/* QUEUE------------------------------- */
.Queue {
  grid-area: queue;
}

.queue-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
/* ----------------------------------- */

/* EACH SECTION------------------------------- */

.section-header {
  font-size: var(--headingSize);
  color: var(--textColor);
  margin-top: 20px;
  margin-left: 10px;
}

/* ORDERS */
#alien {
  width: 60%;
  display: block;
  margin: auto;
}

#queueText {
}

svg {
  display: block;
  position: relative;
}
svg#astronaut g#astronaut-right-palm,
svg#astronaut g#astronaut-left-palm {
  transition: all 1s;
}
svg#astronaut g#astronaut-left-palm #money,
svg#astronaut g#astronaut-left-palm #sign,
svg#astronaut g#astronaut-right-palm #payment,
svg#astronaut g#astronaut-right-palm #beer {
  transition: all 1s;
}

/* RIGHT PALM -------------------*/
svg#astronaut g#astronaut-right-palm {
  transform-origin: 18% 53%;
}

svg#astronaut g#astronaut-left-palm {
  transform-origin: 55% 55%;
}

/* rotate palm of arm to 0 depending on state*/
svg#astronaut.startServing g#astronaut-left-palm,
svg#astronaut.reserveTap g#astronaut-left-palm,
svg#astronaut.pourBeer g#astronaut-left-palm,
svg#astronaut.releaseTap g#astronaut-left-palm,
svg#astronaut.startPayment g#astronaut-left-palm {
  /* transform: rotate(0deg); */
  animation: restArm 1s forwards;
}
svg#astronaut.receivePayment g#astronaut-right-palm,
svg#astronaut.waiting g#astronaut-right-palm {
  /* transform: rotate(0deg) 2s; */
  animation: restArm 1s forwards;
}

/* Beer Serving*/
/* rotate palm of rightarm */
svg#astronaut.startServing g#astronaut-right-palm,
svg#astronaut.reserveTap g#astronaut-right-palm,
svg#astronaut.pourBeer g#astronaut-right-palm,
svg#astronaut.releaseTap g#astronaut-right-palm {
  transform: rotate(160deg);
  animation: drinkBeer 1s infinite alternate-reverse;
}

/* Payment Serving*/

svg#astronaut g#astronaut-right-palm {
  /* transform: rotate(160deg); */
}
/* LEFT PALM -------------------*/
/* Waiting Serving*/
svg#astronaut.waiting g#astronaut-left-palm {
  transform: rotate(-180deg);
  animation: showWaiting 0.5s infinite alternate;
}
/* Receive Money Serving*/
svg#astronaut.receivePayment g#astronaut-left-palm {
  transform: rotate(-150deg);
  animation: showReceivePayment 1s infinite alternate;
}
svg#astronaut.startPayment g#astronaut-left-palm {
  transform: rotate(100deg);
  animation: startPayment 1s infinite alternate;
}

svg#astronaut.startServing g#astronaut-left-palm #sign,
svg#astronaut.startServing g#astronaut-left-palm #money,
svg#astronaut.startServing g#astronaut-right-palm #payment,
svg#astronaut.reserveTap g#astronaut-left-palm #sign,
svg#astronaut.reserveTap g#astronaut-left-palm #money,
svg#astronaut.reserveTap g#astronaut-right-palm #payment,
svg#astronaut.pourBeer g#astronaut-left-palm #sign,
svg#astronaut.pourBeer g#astronaut-left-palm #money,
svg#astronaut.pourBeer g#astronaut-right-palm #payment,
svg#astronaut.replaceKeg g#astronaut-left-palm #sign,
svg#astronaut.replaceKeg g#astronaut-left-palm #money,
svg#astronaut.replaceKeg g#astronaut-right-palm #payment,
svg#astronaut.releaseTap g#astronaut-left-palm #sign,
svg#astronaut.releaseTap g#astronaut-left-palm #money,
svg#astronaut.releaseTap g#astronaut-right-palm #payment,
svg#astronaut.waiting g#astronaut-left-palm #money,
svg#astronaut.waiting g#astronaut-right-palm #payment,
svg#astronaut.waiting g#astronaut-right-palm #beer,
svg#astronaut.receivePayment g#astronaut-right-palm #beer,
svg#astronaut.receivePayment g#astronaut-right-palm #payment,
svg#astronaut.receivePayment g#astronaut-left-palm #sign,
svg#astronaut.startPayment g#astronaut-right-palm #beer,
svg#astronaut.startPayment g#astronaut-right-palm #money,
svg#astronaut.startPayment g#astronaut-left-palm #sign {
  /* transform-origin: 90% 55%; */
  opacity: 0;
  /* display: none; */
  /* transform: rotate(20deg); */
}
/* svg#astronaut.releaseTap g#astronaut-left-palm */

svg#astronaut.waiting g#astronaut-left-palm {
  /* transform-origin: 90% 55%; */
  transform: rotate(-90deg);

  /* transform: translateX(100px); */
}

svg#astronaut.waiting g#astronaut-right-palm #beer {
}

svg#astronaut.receivePayment g#astronaut-left-palm {
  /* transform-origin: 90% 55%; */
  /* transform: rotate(90deg); */
}

/* ANIMATION */

@keyframes drinkBeer {
  to {
    transform: rotate(180deg);
  }
}
@keyframes showWaiting {
  to {
    transform: rotate(-100deg);
  }
}
@keyframes showReceivePayment {
  to {
    transform: rotate(-100deg);
  }
}

@keyframes startPayment {
  to {
    transform: rotate(90deg);
  }
}
@keyframes restArm {
  to {
    transform: rotate(0deg);
  }
}
